.search-wrapper {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}
input {
    font-size: 1rem;
}
.user-profiles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150rem, 1fr));
    gap: .25rem;
    margin-top: 1rem;
}
.profiles {
    border: 1px solid black;
    background-color: white;
    padding: .5rem;
}
.profiles > .header {
    margin-bottom: .25rem;
}
.profiles > .body {
    font-size: .8rem;
    color: #777
}
.hide {
    display: none;
}